/* Background */

$bg-color-primary-1:#013056;
$bg-color-primary-2:#1b7fd0;
$bg-color-primary-3:#e1eaf1;
$bg-color-primary-4:#075da2;
$bg-color-primary-5:#caddea;
$bg-color-primary-6:#fbfdff;
$bg-color-primary-7:#ffffff;
$bg-color-primary-8:#f4f6fa;
/* Text Color */

$font-color-primary-1:#caddea;
$font-color-primary-2:#ffffff;
$font-color-primary-3:#1b7fd0;
$font-color-primary-4:#075da2;
$font-color-primary-5:#6c8ca5;
$font-color-primary-6:#013056;
$font-color-primary-7:#000000;

/* BtnBG Color */

$bg-color-btn-1:#dd0000;
$bg-color-btn-2:#a40000;
$bg-color-btn-3:#075da2;
$bg-color-btn-4:#1b7fd0;
$bg-color-btn-5:#013056;
$bg-color-btn-6:#ffffff;

/*BbtnBG Hover Color*/

$bg-color-btn_hover-1:#caddea;
$bg-color-btn_hover-2:#1b7fd0;