footer{
    .payment-social-block{
        background-color: $bg-color-primary-5;
        height: 70px;
    }
    .footer-main-block{
        background-color: $bg-color-primary-1;
        height: 370px;
    }
}