footer {
  .payment-social-block {
    background-color: $bg-color-primary-8;
    height: 70px;
    background-image: url(../../img/Bg3-1.svg);
    padding-top: 15px;
  }
  .footer-main-block {
    background-color: $bg-color-primary-1;
    height: 370px;
  }
  .payment-social-block .payment-block span {
    display: inline-block;
    margin-right: 20px;
    width: 70px;
    height: 43px;
  }
  .payment-social-block .payment-block span:nth-child(1) {
    background-image: url(../../img/visa.svg);
  }
  .payment-social-block .payment-block span:nth-child(2) {
    background-image: url(../../img/master_card.svg);
  }
  .payment-social-block .payment-block span:nth-child(3) {
    background-image: url(../../img/american_express.svg);
  }
  .payment-social-block .payment-block span:nth-child(4) {
    background-image: url(../../img/discover.svg);
  }
  .payment-social-block .payment-block span:nth-child(5) {
    background-image: url(../../img/jcb.svg);
  }
  .payment-social-block .payment-block span:nth-child(6) {
    background-image: url(../../img/diners-club.svg);
  }
  .payment-social-block .payment-block span:nth-child(7) {
    background-image: url(../../img/paypal.svg);
  }

  .social-block {
    margin-left: 150px;
  }

  .social-block a {
    font-size: 15px;
    display: inline-block;
    width: 70px;
    height: 43px;
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-left: 10px;
  }

  .fa_facebook {
    background-image: url(../../img/Facebook.svg);
  }
  .fa_twitter {
    background-image: url(../../img/Twiter.svg);
  }
  .fa_pinterest {
    background-image: url(../../img/Pinterest.svg);
  }
}
