header {
  .before-header {
    //background-color: $bg-color-primary-1;
    height: 55px;
    background-image: url("../../img/Bg\ Dark2.svg");
    padding: 10px 0;
  }
  .header-menu {
    background-color: $bg-color-primary-2;
    height: 40px;
  }
  
  .header-contact span {
    color: $font-color-primary-1;
    font-size: 20px;
    font-weight: 100;
    font-family: $font-thin;
}

  .header-contact span a {
    color: $font-color-primary-1;
    font-size: 20px;
    font-weight: 400;
    font-family: $font-regular;
    text-decoration: none;
  }
    .after-header {
      background-color: $bg-color-primary-3;
      height: 470px;
      background-image: url("../../img/woman.svg");
      background-position-y: 3.3%;
      background-repeat: no-repeat;
    }

}

