
  .LogoSVG{
    margin: 15px;
  }
  .OfferLI li{
    margin: 15px;
    font-size: 20px;
    list-style: none;
  }
  .menu--header__bg {
    background-color: $bg-color-primary-2;
    padding: 15px 0;
  }
  .RowWithUs h3{
    display: inline-block;
    margin-left: 35px;
  }
  .after-header__bg {
    background-color: $bg-color-primary-3;
    height: 470px;
    background-image: url("../../img/woman.svg");
    //background-position-y: 3.3%;
    background-repeat: no-repeat;
    background-position: top;
  }

  .top--header__bg {
    background-image: url("../../img/Bg\ Dark2.svg");
    //background-size: cover;
    padding: 20px 0;
  }
  .top--header_toll {
    @include font(20px, $font-thin, $bg-color-primary-5, 100);
  }
  .top--header__numbers {
    @include font(20px, $font-regular, $bg-color-primary-5, 600);
    text-decoration: none;
  }
  .top--header_butons {
    text-align: right;
    a {
      text-align: left;
    }
    .btn--liveChat:hover {
      background: url("../../img/Chat2.svg") no-repeat 100%;
      color: $bg-color-btn_hover-2;
    }
    .btn--header_login:hover {
      background: url("../../img/Login2.svg") no-repeat 100%;
      color: $bg-color-btn_hover-2;
    }
  }
  .top--header_butons a:first-child {
    margin-right: 30px;
  }
  .nav > li{
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
  }
  .nav > li > a {
    text-decoration: none;
    color: $font-color-primary-2;
  }
  
 
  .col-md-12 {
    width: 100%;
}
.btnBetter{
  background-color: $bg-color-primary-5;
  color: $bg-color-primary-2;
  font: $font-bold;
  font-size: 32px;
  &:after{
    border-color: $bg-color-primary-5 transparent transparent;
  }
  &:hover:after{
    border-color: $bg-color-primary-2 transparent transparent;
  }
  &:hover{
    background-color: $bg-color-primary-2;
    color: $bg-color-primary-5;
  }
}

.nav {
  padding-top: 4px;
  color: $font-color-primary-2;
  width: 100%;
  align-items: center;
  font-family: $font-regular;
  font-size: 25px;
  text-transform: uppercase;
  float: right;
}

.nav__link{        
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  position: relative;
  color: $font-color-primary-2;
  transition: color .1s linear;
}
.nav__link:hover {
  color: $font-color-primary-3;
  background-color: $bg-color-btn_hover-1;
  text-decoration: none;
}
.nav__link.active {
  color: $font-color-primary-3; 
  background-color: $bg-color-btn_hover-1;
}
.OfferLI li:before {
  color: #1b7fd0;
  content: '\f111';
  font-size: 8px;
  font-family: FontAwesome;
  position: absolute;
  left: 50px;
}

