<footer>
  <div class="payment-social-block">
    <div class="container">
      <div class="row">
        <div class="payment-block">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="social-block">               
          <a href="https://www.facebook.com/your.bestwritinghelp/" class="fa_facebook"></a>
          <a href="https://twitter.com/ExcellentGrades" class="fa_twitter"></a>
          <a href="https://www.pinterest.com/bestwritinghelp/" class="fa_pinterest"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-main-block"></div>
</footer>
