<footer>
  <div class="payment-social-block">
    <div class="container">
      <div class="row">
        <div class="payment-block">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="social-block">
          <a href="https://www.facebook.com/your.bestwritinghelp/" class="fa_facebook"></a>
          <a href="https://twitter.com/ExcellentGrades" class="fa_twitter"></a>
          <a href="https://www.pinterest.com/bestwritinghelp/" class="fa_pinterest"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-menu">
            <ul class="hide-links">
              <li id="menu-item-846" class="menu-item menu-item-type-post_type menu-item-object-articles menu-item-846">
                <a href="https://bestwritinghelp.org/articles/academic-essays-writers/">Academic Essays Writers</a></li>
              <li id="menu-item-2486" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2486"><a
                  href="https://bestwritinghelp.org/articles/article-review-writing-service/">Article Review Writing
                  Service</a></li>
              <li id="menu-item-2115" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2115"><a
                  href="https://bestwritinghelp.org/articles/annotated-bibliography-writing-service/">Annotated
                  Bibliography Writing Service</a></li>
              <li id="menu-item-1054"
                class="menu-item menu-item-type-post_type menu-item-object-articles menu-item-1054"><a
                  href="https://bestwritinghelp.org/articles/buy-application-essay/">Buy Application Essay</a></li>
              <li id="menu-item-1350"
                class="menu-item menu-item-type-post_type menu-item-object-articles menu-item-1350"><a
                  href="https://bestwritinghelp.org/articles/buy-argumentative-essay/">Buy Argumentative Essay</a></li>
              <li id="menu-item-2519" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2519"><a
                  href="https://bestwritinghelp.org/articles/buy-article-critique-service-online/">Buy Article
                  Critique</a></li>
              <li id="menu-item-851" class="menu-item menu-item-type-post_type menu-item-object-articles menu-item-851">
                <a href="https://bestwritinghelp.org/articles/cheap-custom-essay/">Buy Cheap Custom Essay</a></li>
              <li id="menu-item-847" class="menu-item menu-item-type-post_type menu-item-object-articles menu-item-847">
                <a href="https://bestwritinghelp.org/articles/buy-cheap-essay/">Buy Cheap Essay</a></li>
              <li id="menu-item-848" class="menu-item menu-item-type-post_type menu-item-object-articles menu-item-848">
                <a href="https://bestwritinghelp.org/articles/buy-college-papers-online/">Buy College Papers Online</a>
              </li>
              <li id="menu-item-1303"
                class="menu-item menu-item-type-post_type menu-item-object-articles menu-item-1303"><a
                  href="https://bestwritinghelp.org/articles/buy-cause-and-effect-essay/">Buy Cause and Effect Essay</a>
              </li>
              <li id="menu-item-1617" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1617"><a
                  href="https://bestwritinghelp.org/articles/buy-case-study/">Buy Case Study</a></li>
              <li id="menu-item-1349"
                class="menu-item menu-item-type-post_type menu-item-object-articles menu-item-1349"><a
                  href="https://bestwritinghelp.org/articles/buy-classification-essay/">Buy Classification Essay</a>
              </li>
              <li id="menu-item-1327"
                class="menu-item menu-item-type-post_type menu-item-object-articles menu-item-1327"><a
                  href="https://bestwritinghelp.org/articles/buy-deductive-essay/">Buy Deductive Essay Online</a></li>
              <li id="menu-item-1728" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1728"><a
                  href="https://bestwritinghelp.org/articles/buy-interview-essay/">Buy Interview Essay</a></li>
              <li id="menu-item-1348"
                class="menu-item menu-item-type-post_type menu-item-object-articles menu-item-1348"><a
                  href="https://bestwritinghelp.org/articles/buy-literary-analysis/">Buy Literary Analysis</a></li>
              <li id="menu-item-1508" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1508"><a
                  href="https://bestwritinghelp.org/articles/buy-literature-review-from-reputable-writing-service/">Buy
                  Literature Review</a></li>
              <li id="menu-item-1990"
                class="menu-item menu-item-type-post_type menu-item-object-articles menu-item-1990"><a
                  href="https://bestwritinghelp.org/articles/business-plan-writing-service/">Business Plan Writing
                  Service</a></li>
              <li id="menu-item-1347"
                class="menu-item menu-item-type-post_type menu-item-object-articles menu-item-1347"><a
                  href="https://bestwritinghelp.org/articles/buy-response-essay/">Buy Response Essay</a></li>
              <li id="menu-item-1126"
                class="menu-item menu-item-type-post_type menu-item-object-articles menu-item-1126"><a
                  href="https://bestwritinghelp.org/articles/buy-criminal-justice-essay/">Buy Criminal Justice Essay</a>
              </li>
              <li id="menu-item-1046"
                class="menu-item menu-item-type-post_type menu-item-object-articles menu-item-1046"><a
                  href="https://bestwritinghelp.org/articles/buy-discussion-board-post/">Buy Discussion Board Post</a>
              </li>
              <li id="menu-item-849" class="menu-item menu-item-type-post_type menu-item-object-articles menu-item-849">
                <a href="https://bestwritinghelp.org/articles/buy-essay-online/">Buy Essay Online</a></li>
              <li id="menu-item-850" class="menu-item menu-item-type-post_type menu-item-object-articles menu-item-850">
                <a href="https://bestwritinghelp.org/articles/buy-research-paper-online/">Buy Research Paper Online</a>
              </li>
              <li id="menu-item-895" class="menu-item menu-item-type-post_type menu-item-object-articles menu-item-895">
                <a href="https://bestwritinghelp.org/articles/personal-narrative-essay/">Buy Personal Narrative
                  Essay</a></li>
              <li id="menu-item-1127"
                class="menu-item menu-item-type-post_type menu-item-object-articles menu-item-1127"><a
                  href="https://bestwritinghelp.org/articles/buy-powerpoint-poster/">Buy PowerPoint Poster</a></li>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="terms-block">
            <p>© 2019, BestWritingHelp.org. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>