<footer>
  <div class="payment-social-block">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="payment-block">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="col-md-5">
          <div class="social-block">
            <a href="https://www.facebook.com/your.bestwritinghelp/" class="fa_facebook"></a>
            <a href="https://twitter.com/ExcellentGrades" class="fa_twitter"></a>
            <a href="https://www.pinterest.com/bestwritinghelp/" class="fa_pinterest"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-menu">
            <ul class="hide-links">
              <li>
                <a href="#">Site map</a></li>
              <li>
                <a href="#">Free essays</a></li>
              <li>
                <a href="#">Custom Research Papers</a></li>
              <li>
                <a href="#">Site Custom Term Paper</a></li>
              <li>
                <a href="#">Writing Service</a></li>
              <li>
                <a href="#">Custom Writing</a></li>
              <li>
                <a href="#">Custom Writing Services</a></li>
              <li>
                <a href="#">Custom Written Essay</a></li>
              <li>
                <a href="#">Do My Essay</a></li>
              <li>
                <a href="#">Do My Paper</a></li>
              <li>
                <a href="#">Editing Service</a></li>
              <li>
                <a href="#">Essay Buy</a></li>
              <li>
                <a href="#">Essay Editing</a></li>
              <li>
                <a href="#">Essay Help</a></li>
              <li>
                <a href="#">Essay Online</a></li>
              <li>
                <a href="#">Essay Order</a></li>
              <li>
                <a href="#">Essay Papers to Buy</a></li>
              <li>
                <a href="#">Essay Service</a></li>
              <li>
                <a href="#">Essay Writer</a></li>
              <li>
                <a href="#">Essay Writing</a></li>
              <li>
                <a href="#">Essay Writing Service</a></li>
              <li>
                <a href="#">Essay Writing Services</a></li>
              <li>
                <a href="#">Essay Writing Online</a></li>
              <li>
                <a href="#">Essays Buy</a></li>
              <li>
                <a href="#">Essays for Sale</a></li>
              <li>
                <a href="#">Essays Order</a></li>
              <li>
                <a href="#">Essays to Buy </a></li>
              <li>
                <a href="#">Essays Written</a></li>
              <li>
                <a href="#">Formatting Service</a></li>
              <li>
                <a href="#">Freelance Essay Writing</a></li>
              <li>
                <a href="#">Grant Writing </a></li>
              <li>
                <a href="#">How to Buy an Essay</a></li>
              <li>
                <a href="#">Non - Plagiarized Essay</a></li>
              <li>
                <a href="#">Online Essay</a></li>
              <li>
                <a href="#">Online Research Paper</a></li>
              <li>
                <a href="#">Online Term Paper</a></li>
              <li>
                <a href="#">Online Writing</a></li>
              <li>
                <a href="#">Order an Essay</a></li>
              <li>
                <a href="#">Order Custom Essay</a></li>
              <li>
                <a href="#">Order Custom Paper</a></li>
              <li>
                <a href="#">Order Essay</a></li>
              <li>
                <a href="#">Order Essays</a></li>
              <li>
                <a href="#">Original Essay</a></li>
              <li>
                <a href="#">Paper Service</a></li>
              <li>
                <a href="#">Paper Writer</a></li>
              <li>
                <a href="#">Paper Writing</a></li>
              <li>
                <a href="#">Paper Writing Service</a></li>
              <li>
                <a href="#">Personal Narrative Essay</a></li>
              <li>
                <a href="#">Academic Essays Writers</a></li>
              <li>
                <a href="#">Buy Cheap Essay</a></li>
              <li>
                <a href="#">Buy Custom</a></li>
              <li>
                <a href="#">Paper Buy Custom </a></li>
              <li>
                <a href="#">Buy Research Pape</a></li>
            </ul>
          </div>
          <div class="open-menu-block">
            <hr> <a id="openFooter" class="" onclick="openMenu()" title="More/Less"><span></span></a></div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="footer-menu-line">
                <ul class="nav">
                  <li class="nav__link-footer">
                    <a href="#">Business</a>
                  </li>
                  <li class="nav__link-footer">
                    <a href="#">Economics</a>
                  </li>
                  <li class="nav__link-footer">
                    <a href="#">Informative</a>
                  </li>
                  <li class="nav__link-footer">
                    <a href="#">literature</a>
                  </li>
                  <li class="nav__link-footer">
                    <a href="#">Management</a>
                  </li>
                  <li class="nnav__link-footer">
                    <a href="#">Political</a>
                  </li>
                  <li class="nav__link-footer">
                    <a href="#">Psychology</a>
                  </li>
                  <li class="nav__link-footer">
                    <a href="#">Research</a>
                  </li>
                  <li class="nav__link-footer">
                    <a href="#">Review</a>
                  </li>
                  <li class="nav__link-footer">
                    <a href="#">Technology</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="terms-block">
                <p>Terms and Conditions Privacy Policy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>