<header>
  <div class="before-header">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header-contact">
            <span>
              "Sales toll free: "
              <a class="footer-phone" href="tel:+1-877-395-5712">
                1(877) 395-5712</a
              >
            </span>
            <span>
              "Support toll free: "
              <a class="footer-phone" href="tel:+1-888-305-4725"
                >1(888) 305-4726</a
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-menu">
    <div class="container">
      <div class="row">
        <div class="col"></div>
      </div>
    </div>
  </div>
  <div class="after-header">
    <div class="container">
      <div class="row">
        <div class="col"></div>
      </div>
    </div>
  </div>
</header>
