<main>
  <div class="container-fluid home-page">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="home-page-calc">
            <a href="#" target="_blank"
              ><span>Essays & Research Papers</span></a
            >
            <a href="#" target="_blank"><span>Resumes & CVs</span></a>
            <a href="#" target="_blank"><span>Dissertations & Thesess</span></a>
            <a href="#" target="_blank"><span>Editing & Proofreading</span></a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="order">
              <a href="#"target="_blank"
              ><span>ORDER NOW</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid index-page">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-blog">
            <h2><a href="#"target="_blank"
                ><span>BLOG</span></a></h2>
          </div>
        </div>
        <div class="col-sm-3 categories">CATEGORIES</div>
      </div>
    </div>
  </div>

  <div class="home-page-cols"></div>
  <div class="home-extra-services"></div>
  <div class="home-him"></div>
</main>
